<!-- Deletes have to be done by a form -->
<form method="POST" action="<%= url %>?_method=DELETE" >
    <!-- Url is a dynmaic variable because it will change -->
    <button type="submit">Delete</button>
</form>