<h2>
    All Authors
</h2>
<label>Name</label>
<form action="/authors" method="GET">
    <input type="text" placeholder="Author name" name="name" value="<%=searchOptions.name%>">
    <button type="submit">Search</button>
</form>
<br>
<% authors.forEach(author => {  %>
    <div>
        <%= author.name %> 
    </div>
<% }) %> 